@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


:root{
    --stickycolor:linear-gradient(to right,#00093c,#2d0b00);
    --navtxtcolor:#ffd700;
    --cardbgcolor:white;
    /* --stickycolor:#362419; */
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* --------------------ğğšğ¯ğ›ğšğ« ğ‚ğ’ğ’-------------------- */
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}
.navbar{
    position:fixed ;
    z-index: 5;
    width: 100%;
    padding: 12px 0;
    transition: all 0.3s ease;
    background: var(--stickycolor);
}
.navbar.sticky{
    background: var(--stickycolor);
    padding:12px 0;
    z-index: 100000;
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;
}
.menu-list li a{
    color: white;
    font-size: 18px;
    margin-left: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list li a:hover{
    color: cyan;
}
.icon{
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
/* --------------------ğğšğ¯ğ›ğšğ« ğ‚ğ’ğ’-------------------- */


/* --------------------ğğšğ¯ğ›ğšğ« ğŒğğğ¢ğš ğğ®ğğ«ğ¢ğğ¬-------------------- */
@media (max-width: 1021px) {
    body.disabledScroll{
        overflow: hidden;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background-color: var(--stickycolor);
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 1s ease;
    }
    .navbar .menu-list.active{
        left: 0%;
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;
    } 
}
/* --------------------ğğšğ¯ğ›ğšğ« ğŒğğğ¢ğš ğğ®ğğ«ğ¢ğğ¬-------------------- */


















/* --------------------ğ‚ğšğ«ğ ğ‚ğ’ğ’-------------------- */
.featured{
    margin-bottom: 40px;
    padding: 100px;
}
.ftext{
    /* background-color: var(--stickycolor); */
    color: black;
    text-align: center;
    text-transform: capitalize;
    /* margin: 0 auto ; */
    position: relative;
    line-height: 80px;
    margin-bottom: 30px;
}
.ftext::after{
    content: '';
    background: var(--stickycolor) ;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
a{
    text-decoration: none;
    color: white;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.pcard{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0,25), 0 10px 10px rgba(0,0,0,0,16);
    transition: .4s;
    background: #f2f2f2;
}
.pcard:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px,-8px);
}
.pcard img{
    width: 200px;
    height: 200px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}
.pcard p{
    text-align: center;
    padding:7px 8px;
    font-size: 25px;
}
h3{
    font-size: 25px;
}
h6{
    font-size: 20px;
    text-align: center;
    color: #222f3e;
    margin: 0;
    padding-top: 7px;
}
.pcard ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
.pcard ul li{
    padding: 5px;
}
.fa{
    font-size: 26px;
    transition: 0.4s;
}
.checked{
    color: #ff9f43;
}
.fa:hover{
    transition: scale(1.3);
    transition: .6s;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.buy-1,.buy-2,.buy-3,.buy-4{
    background: var(--stickycolor);
}
/* --------------------ğ‚ğšğ«ğ ğ‚ğ’ğ’-------------------- */

/* --------------------ğ‚ğšğ«ğ ğŒğğğ¢ğš ğğ®ğğ«ğ¢ğğ¬-------------------- */
@media (max-width:1000px) {
    .pcard{
        width: 45%;
    }  
}
@media (max-width:750px) {
    .ftext{
        font-size: 25px;
    }
    .pcard{
        width: 100%;
    }  
}
/* --------------------ğ‚ğšğ«ğ ğŒğğğ¢ğš ğğ®ğğ«ğ¢ğğ¬-------------------- */

footer{
    text-transform: capitalize;
    background: var(--stickycolor);
    height: 100px;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
}
footer img{
height: 100px;
}