@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


:root{
    --stickycolor:linear-gradient(to right,#00093c,#2d0b00);
    --navtxtcolor:#ffd700;
    --cardbgcolor:white;
    /* --stickycolor:#362419; */
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


/* --------------------ğğšğ¯ğ›ğšğ« ğ‚ğ’ğ’-------------------- */
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}
.navbar{
    position:fixed ;
    z-index: 5;
    width: 100%;
    padding: 12px 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    background: var(--stickycolor);
    padding:12px 0;
    z-index: 100000;
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;
}
.menu-list li a{
    color: white;
    font-size: 18px;
    margin-left: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list li a:hover{
    color: cyan;
}
.icon{
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
/* --------------------ğğšğ¯ğ›ğšğ« ğ‚ğ’ğ’-------------------- */


/* --------------------ğğšğ¯ğ›ğšğ« ğŒğğğ¢ğš ğğ®ğğ«ğ¢ğğ¬-------------------- */
@media (max-width: 1021px) {
    body.disabledScroll{
        overflow: hidden;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: var(--stickycolor);
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 1s ease;
    }
    .navbar .menu-list.active{
        left: 0%;
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;
    } 
}
/* --------------------ğğšğ¯ğ›ğšğ« ğŒğğğ¢ğš ğğ®ğğ«ğ¢ğğ¬-------------------- */


/* --------------------ğğšğ«ğšğ¥ğ¥ğšğ± ğ‚ğ’ğ’-------------------- */
.parallax{
    background: url(images/slider2.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    animation: animate 30s ease-in-out infinite;
}
@keyframes animate{
    0%,100%{
        background-image: url(images/slider/slider1.jpg);
    }
    25%{
        background-image: url(images/slider/slider2.jpg);
    }
    50%{
        background-image: url(images/slider/slider4.jpg);
    }
    75%{
        background-image: url(images/slider/slider3.jpg);
    }

}
.parallax-inner{
    background-color: rgb(0, 0,0,0.6);
    height: 100vh;
}
.parallax-txt{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 50px;
    padding: 0px 20px;
    /* margin: 0px 40px; */
    /* backdrop-filter: blur(10px); */
}
/* --------------------ğğšğ«ğšğ¥ğ¥ğšğ± ğ‚ğ’ğ’-------------------- */

@media only screen and (max-width:832px){
    .parallax-txt{
        font-size: 40px;
    }
}
@media only screen and (max-width:603px){
    .parallax-txt{
        font-size: 30px;
    }
}
@media only screen and (max-width:490px){
    .parallax-txt{
        font-size: 25px;
    }
}
/* --------------------ğğšğ«ğšğ¥ğ¥ğšğ± ğ‚ğ’ğ’-------------------- */

/* --------------------ğ‚ğšğ«ğ ğ‚ğ’ğ’-------------------- */
.featured{
    margin-bottom: 40px;
}
.ftext{
    /* background-color: var(--stickycolor); */
    color: black;
    text-align: center;
    text-transform: capitalize;
    /* margin: 0 auto ; */
    position: relative;
    line-height: 80px;
    margin-bottom: 30px;
}
.ftext::after{
    content: '';
    background: var(--stickycolor) ;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
a{
    text-decoration: none;
    color: white;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.pcard{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0,25), 0 10px 10px rgba(0,0,0,0,16);
    transition: .4s;
    background: #f2f2f2;
}
.pcard:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px,-8px);
}
.pcard img{
    width: 200px;
    height: 200px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}
.pcard p{
    text-align: center;
    padding:7px 8px;
    font-size: 25px;
}
h3{
    font-size: 25px;
}
h6{
    font-size: 20px;
    text-align: center;
    color: #222f3e;
    margin: 0;
    padding-top: 7px;
}
.pcard ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
.pcard ul li{
    padding: 5px;
}
.fa{
    font-size: 26px;
    transition: 0.4s;
}
.checked{
    color: #ff9f43;
}
.fa:hover{
    transition: scale(1.3);
    transition: .6s;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.buy-1,.buy-2,.buy-3,.buy-4{
    background: var(--stickycolor);
}
/* --------------------ğ‚ğšğ«ğ ğ‚ğ’ğ’-------------------- */

/* --------------------ğ‚ğšğ«ğ ğŒğğğ¢ğš ğğ®ğğ«ğ¢ğğ¬-------------------- */
@media (max-width:1000px) {
    .pcard{
        width: 45%;
    }  
}
@media (max-width:750px) {
    .ftext{
        font-size: 25px;
    }
    .pcard{
        width: 100%;
    }  
}
/* --------------------ğ‚ğšğ«ğ ğŒğğğ¢ğš ğğ®ğğ«ğ¢ğğ¬-------------------- */

/* --------------------ğŒğšğ¢ğ§ ğ‚ğšğ«ğ------------------- */

.mainCard{
    text-align: center;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid green; */
    background: var(--cardbgcolor);
}
.mainCard h3{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bolder;
    text-align: center;
}
.card1,.card2,.card3,.card4{
    width: 300px;
    height: 260px;
    justify-content: center;
    align-items: center;  
    /* border: 2px solid grey; */
    box-shadow:10px 2px 5px grey;
    padding: 2px;
    margin-bottom: 20px;
}
lottie-player{
    margin: 0 auto;
}
/* --------------------ğŒğšğ¢ğ§ ğ‚ğšğ«ğ------------------- */

/* --------------------ğŒğšğ¢ğ§ ğ‚ğšğ«ğ ğŒğğğ¢ğš ğğ®ğğ«ğ¢ğğ¬-------------------- */
@media only screen and (max-width: 700px) {
    .card1,.card2,.card3,.card4{
        width: 100%;
    }
}
/* --------------------ğŒğšğ¢ğ§ ğ‚ğšğ«ğ ğŒğğğ¢ğš ğğ®ğğ«ğ¢ğğ¬-------------------- */





/* --------------------Bank ğ‚ğšğ«ğ --------------------  */
.small-container{
    max-width: 1080x;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}.small-container .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.brands{
    margin: 40px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    margin-bottom: 30px;
    padding: 5px;
}
.col-5 img:hover{
    filter: grayscale(0%);
}
.btext{
    /* background-color: var(--stickycolor); */
    color: black;
    text-align: center;
    text-transform: capitalize;
    /* margin: 0 auto ; */
    position: relative;
    line-height: 50px;
    margin-bottom: 30px;
}
.btext::after{
    content: '';
    background: var(--stickycolor) ;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* --------------------Bank ğ‚ğšğ«ğ --------------------  */




/* --------------------Textimonial ğ‚ğšğ«ğ --------------------  */
#aboutus{
    background: var(--stickycolor);
    color: white;
    text-align: center;
    text-transform: capitalize;
    /* margin: 0 auto ; */
    position: relative;
    line-height: 60px;
    margin-top: 90px;
    border-top-left-radius: 125px ;
}
#aboutus::after{
    content: '';
    background: white ;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--stickycolor);
    flex-wrap: wrap;
  }
  .profile-card{
    position: relative;
    width: 220px;
    height: 220px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 25px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .main a{
      text-decoration: none;
      font-size: 30px;
      margin-bottom: 30px;
      margin-top: 10px;
  }
  .profile-card:hover{
    border-radius: 10px;
    height: 260px;
  }
  .profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
  }
  .profile-card:hover .img{
    transform: translateY(-60px);
  }
  .img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
  }
  .profile-card:hover img{
    border-radius: 10px;
  }
  .caption{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
  }
  .profile-card:hover .caption{
    opacity: 1;
  }
  .caption h3{
    font-size: 21px;
  }
  .caption p{
    font-size: 16px;
    color: #0c52a1;
    margin: 2px 0 9px 0;
  }
.social-links{
    display: flex;
}
@media only screen and (max-width: 700px) {
    .profile-card{
       margin-top: 45px;
    }
    .main{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #aboutus{
        font-size: 25px;
    }
    #aboutus::after{
        width: 70px;
    }
}
/* --------------------Textimonial ğ‚ğšğ«ğ --------------------  */




/* -------------------- Footer --------------------  */

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    background: var(--stickycolor);
    padding: 70px 0;
    border-top-left-radius: 125px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



section{
    height: 100vh ;
}
section h1{
    position: absolute;
    top: 40%;
    left: 20%;
    color: white;
    font-size: 5em;
    /* letter-spacing: 0.2em; */
}
h1 span{
    opacity: 0;
    display: inline-block;
    animation: animates 1s linear forwards;
}
@keyframes animates{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0deg);
    }
}
h1 span:nth-child(1){
    animation-delay: 1s;
}
h1 span:nth-child(2){
    animation-delay: 1.25s;
}
h1 span:nth-child(3){
    animation-delay: 1.5s ;
}
h1 span:nth-child(4){
    animation-delay: 1.75s;
}
h1 span:nth-child(5){
    animation-delay: 2s;
}
h1 span:nth-child(6){
    animation-delay: 2.25s;
}
h1 span:nth-child(7){
    animation-delay:2.5s;
}
h1 span:nth-child(8){
    animation-delay:2.75s;
}
h1 span:nth-child(9){
    animation-delay:3s;
}
h1 span:nth-child(10){
    animation-delay:3.25s;
}
h1 span:nth-child(11){
    animation-delay:3.5s;
}
h1 span:nth-child(12){
    animation-delay:3.75s;
}
h1 span:nth-child(13){
    animation-delay:4s;
}
h1 span:nth-child(14){
    animation-delay:4.25s;
}
h1 span:nth-child(15){
    animation-delay:4.5s;
}





















